
<h1 class="text-center">{{'CHANGE_PASSWORD_MAIN_TEXT' | translate}}</h1>
<div class="d-flex justify-content-center p-5 w-100">


    <div
        class="d-flex justify-content-center p-5 w-50"
        style="border: 8px solid white"
    >
        <form
            (ngSubmit)="changePassworCallService()"
            class="row g-6 text-dark justify-content-center"
        >
            <label class="form-label text-center h4" for="emailId">Email</label>
            <input
                class="form-control text-center w-50"
                type="text"
                name="emailId"
                [(ngModel)]="changePasswordDTO.email"
            />

            <label class="form-label label-md text-center mt-3 h4" for="password"
                >{{'CHANGE_PASSWORD_PASSWORD_TEXT' | translate}}</label
            >
            <input
                class="form-control text-center w-50"
                type="password"
                name="password"
                [(ngModel)]="changePasswordDTO.password"
            />

            <label class="form-label text-center mt-3 h4" for="newPassword">
                {{'CHANGE_NEW_PASSWORD_PASSWORD_TEXT' | translate}}</label
            >
            <input
                class="form-control text-center w-50"
                type="password"
                name="newPassword"
                [(ngModel)]="changePasswordDTO.newPassword"
            />

            <div class="justify-content-centerd text-center mt-3">
                <button
                    type="reset"
                    value="Clear"
                    class="btn btn-dark me-0 me-sm-2 w-70"
                >
                {{'CHANGE_PASSWORD_CLEAN_BUTTON_TEXT' | translate}}
                </button>
                <button type="submit" class="btn btn-dark ms-0 ms-sm-2 w-70">
                    {{'CHANGE_PASSWORD_SEND_BUTTON_TEXT' | translate}}
                </button>
            </div>
        </form>
    </div>
</div>
