    <div class="container d-flex justify-content-center text-center ">





          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h1 text-gray-900 mb-4">{{'REGISTER_MAIN_TEXT' | translate}}</h1><hr>
              </div>
              <form class="user text-center" (ngSubmit)="crearRegistro()" #formularioRegistro="ngForm">
                <div class="form-group row">
                  <div class="col-sm-12 mb-3 mb-sm-0">
                    <input
                            type="text"
                            class="form-control form-control-user text-center"
                            id="nombre"
                            name="nombre"
                            [(ngModel)]="nuevoRegistro.nombre"
                            placeholder="{{'REGISTER_NAME_PLACEHOLDER' | translate}}"
                            required
                            #nombre="ngModel"
                            minlength="1" maxlength="100"
                            [ngClass]="validClasses(nombre, 'is-valid', 'is-invalid')">
                    <div *ngIf="nombre.touched && nombre.invalid" class="alert alert-danger">
                        {{'REGISTER_NAME_REQUIRED_TEXT' | translate}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <input  type="email"
                            class="form-control form-control-user text-center"
                            name="email"
                            id="email"
                            [(ngModel)]="nuevoRegistro.correo"
                            placeholder="{{'REGISTER_PASSWORD_PLACEHOLDER' | translate}}"
                            pattern=".+@gmail\.com"
                            required
                            minlength="1" maxlength="100"
                            #email="ngModel"
                            [ngClass]="validClasses(email, 'is-valid', 'is-invalid')">
                    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                        {{'REGISTER_EMAIL_PROBLEM' | translate}}
                    </div>
                </div>
                <div class="form-group">

                    <input  type="password"
                            class="form-control form-control-user text-center"
                            id="password"
                            name="password"
                            placeholder="{{'REGISTER_ENTER_PASSWORD_PLACEHOLDER' | translate}}"
                            required
                            minlength="1" maxlength="100"
                            [(ngModel)]="nuevoRegistro.password"
                            #password="ngModel"
                            [ngClass]="validClasses(password, 'is-valid', 'is-invalid')">
                    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                        {{'REGISTER_PASSWORD_REQUIRED_TEXT' | translate}}
                    </div>

                </div>
                <div class="form-group" style="text-align:left">
                    <input type="checkbox"
                    id="terms"
                    name="check"
                    required
                    [(ngModel)]="nuevoRegistro.check"
                    #check="ngModel"
                    [ngClass]="validClasses(check, 'is-valid', 'is-invalid')"> {{'REGISTER_TERMS_TEXT_FIRST_PART' | translate}} <a class="small" target="blank" routerLink="/terms-and-conditions">{{'REGISTER_TERMS_TEXT_SECOND_PART' | translate}}</a>
                </div>
                <button class="btn-dark btn-user btn-block" [disabled]="!formularioRegistro.form.valid">
                    {{'REGISTER_REGISTER_BUTTON_TEXT' | translate}}
                </button>

              </form>


              <div class="text-center">
                <a class="small" routerLink="/login" >{{'REGISTER_ALREADY_REGISTERED' | translate}}</a>
              </div>
            </div>
          </div>




